%spinner {
  width: 3.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  opacity: 1;

  div {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: var(--font-color);
    transform: translateY(-100%);
    animation: spinner-wave 0.8s ease-in-out alternate infinite;
  }

  div:nth-of-type(1) {
    animation-delay: -0.4s;
  }

  div:nth-of-type(2) {
    animation-delay: -0.2s;
  }

  @keyframes spinner-wave {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(100%);
    }
  }

}
