* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  user-select: none;
}
html {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  touch-action: none;
  overflow: hidden;
  overscroll-behavior-y: none;
}
body {
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: #fff;
  font-family:
    'Montserrat',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  font-display: swap;
  touch-action: none;
  -webkit-overflow-scrolling: touch;

  @media only screen and (max-height: 640px) {
    font-size: 12px;
  }
}
svg {
  fill: var(--font-color);
}
.svg-sad {
  fill: var(--font-color);
  stroke: var(--font-color);
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.spinner {
  @extend %spinner;
}