.swap-trans-leave-active,
.swap-trans-enter-active,
.switch-trans-leave-active,
.switch-trans-enter-active {
  transition:
    opacity .15s ease-out,
    transform .15s ease-out;
}
.swap-trans-enter,
.switch-trans-leave-to,
.switch-trans-enter {
  opacity: 0 !important;
  transform: translateY(1em);
}
.swap-trans-leave-to {
  opacity: 0 !important;
  transform: translateY(-1em);
}
.swap-trans-enter-to, .swap-trans-leave,
.switch-trans-enter-to, .switch-trans-leave {
  opacity: 1;
  transform: translateY(0), scaleX(0);
}

.fade-bg--img-leave-active,
.fade-bg--img-enter-active {
  transition: opacity 2s;
}
.fade-bg-leave-active,
.fade-bg-enter-active {
  transition: opacity 1s;
}
.fade-bg--img-enter,
.fade-bg--img-leave-to,
.fade-bg-enter,
.fade-bg-leave-to {
  opacity: 0 !important;
  transform: scale(1);
}