html {
  --font-color: #fff;
  --bg-color: black;
  --bg-nested-color: black;
  --default-color: hsl(260, 100%, 44%);
  --theme-color: hsl(260, 100%, 44%);
  --theme-color--shade: hsl(272, 76%, 53%);
  --theme-color-alpha: hsla(260, 100%, 44%, .65);
  --default-dark-color: hsl(260, 100%, 15%);
  --theme-color-dark: hsl(260, 100%, 15%);
  --theme-color-light: hsl(260, 100%, 80%);
  --button-color: #fff;
  --button-text-color: hsla(0, 0%, 0%, .65);
  --button-opacity: 1;
  --button-hover-opacity: .85;
  --color-red: #F56F48;
  --ease-io-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
}
