html {
  --font-color: #fff;
  --bg-color: black;
  --bg-nested-color: black;
  --default-color: #f0932b;
  --theme-color: #f0932b;
  --button-color: #fff;
  --button-text-color:  black;
  --button-opacity: .85;
  --button-hover-opacity: 1;
}

$red: #F56F48;

$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
